@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@font-face {
  font-family: "Boogy Brut";
  src: url("../fonts/Boogy_Brut_WEBL-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ostia Antica";
  src: url("../fonts/Ostia_Antica_WEBL-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ostia Antica";
  src: url("../fonts/Ostia_Antica_WEBL-Light_Italic.woff")
      format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ostia Antica";
  src: url("../fonts/Ostia_Antica_WEBL-Regular.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}