.page-content {
  padding: 0 var(--spacing-sitepadding);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
}

.block-content {
  margin-bottom: 4rem;
  h1, h2, h3, h4, h5, h6 {
    margin: 2rem auto 2rem;
    max-width: 30rem;
  }
  p, ul, ol {
    margin: 1rem auto 1.5rem;
  }
  ul, ol {
    max-width: 30rem;
  }
  figure {
    display: block;
    width: 100%;
    margin: 3rem auto 4rem;
    max-width: 50rem;
  }
  img {
    display: block;
    width: 100%;
  }
  blockquote {
    font-family: var(--font-serif);
    font-size: var(--font-size-l);
    font-style: italic;
    display: block;
    width: 100%;
    margin: 3rem auto 4rem;
    max-width: 40rem;
    text-align: center;
  }
}
p.block-content {
  margin: 1rem auto 4rem;
}
.sectionWithHeading .block-content {
  margin: 3rem 0;
  p {
    margin: 0;
  }
}

.page-title {
  font-size: var(--font-size-s);
  font-style: italic;
  text-transform: uppercase;
}

section {
  position: relative;
  padding: calc(var(--spacing-sitepadding)*2) var(--spacing-sitepadding);
}

.index section {
  &:nth-of-type(odd):not(.intro) {
    background-color: var(--color-offwhite);
    .section-heading--link span {
      background-color: var(--color-offwhite) !important;
    }
  }
}

main.page-content + section.grid {
  background-color: var(--color-offwhite);
  .section-heading--link span {
    background-color: var(--color-offwhite) !important;
  }
}
main.page-content section.grid {
  padding-top: 0;
  .section-intro {
    display: none;
  }
}


.section-intro {
  grid-column: 1 / -1;
  text-align: center;

  h2 {
    margin: 1rem auto 2rem;
    color: var(--color-purple);
    font-size: var(--font-size-xxl);
  }

  .lead {
    margin: 0 auto 2rem;
  }

  .button {
    margin: auto 2rem;
  }
}

.section-heading,
.section-heading--link {
  text-decoration: none;
  font-size: var(--font-size-s);
  font-style: italic;
  text-transform: uppercase;
  color: inherit;
  position: relative;
}

.section-heading,
.section-heading--link {
  position: relative;
  display: block;
  max-width: 15rem;
  margin: 0 auto 2rem;
  &:before {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--color-text);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    opacity: .4;
  }
  span {
    display: inline-block;
    background-color: var(--color-background);
    padding: 0 1rem;
    position: relative;
    z-index: 10;
  }
}

.section-button {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1rem;
}

.article-item {
  box-shadow: var(--box-shadow);
  background: var(--color-background);
  transition: var(--transition-hover);

  &:hover {
    transform: translateY(-15px);
  }
}