.page-content {
  padding: var(--spacing-sitepadding);
  background: var(--color-background);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
}

section {
  background: var(--color-background);
  padding: var(--spacing-sitepadding);
}

section:nth-of-type(even) {
  background: var(--color-purple-light);
  color: var(--color-purple-dark);
}

.section-intro {
  grid-column: 1 / -1;
  text-align: center;

  .lead {
    margin: 0 auto 2rem;
  }
}

.section-heading--link {
  text-decoration: none;
  font-size: var(--font-size-s);
  font-style: italic;
  text-transform: uppercase;
  color: inherit;
  position: relative;

  &:after {
    content: "→";
    display: inline-block;
    color: inherit;
    margin: 0 1rem;
    transform: translateX(-1rem);
    opacity: 0;
    transition: var(--transition-hover);
  }

  &:hover {
    &:after {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.article-item {
  box-shadow: var(--box-shadow);
  background: var(--color-background);
  transition: var(--transition-hover);

  &:hover {
    transform: translateY(-15px);
  }
}