.page-content {
  padding: var(--spacing-sitepadding) var(--spacing-sitepadding) calc(var(--spacing-sitepadding) * 5);
  background: var(--color-background);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);

  p {
    margin: 0 auto 1rem;
  }
}

.page-title {
  font-size: var(--font-size-s);
  font-style: italic;
  text-transform: uppercase;
}

section {
  position: relative;
  overflow: hidden;
  background: var(--color-background);
  padding: calc(var(--spacing-sitepadding)*2) 0;
}

.index section {
  padding: calc(var(--spacing-sitepadding)*2) var(--spacing-sitepadding);
}

section:nth-of-type(even) {
  background: var(--color-purple-light);
  color: var(--color-purple-dark);
}

.section-intro {
  grid-column: 1 / -1;
  text-align: center;

  h2 {
    margin: 1rem auto 2rem;
    color: var(--color-purple);
  }

  .lead {
    margin: 0 auto 2rem;
  }

  .button {
    margin: auto 2rem;
  }
}

.section-heading,
.section-heading--link {
  text-decoration: none;
  font-size: var(--font-size-s);
  font-style: italic;
  text-transform: uppercase;
  color: inherit;
  position: relative;
}

.section-heading--link {
  &:after {
    content: "→";
    display: inline-block;
    position: absolute;
    color: inherit;
    margin: 0 1rem;
    transform: translateX(-1rem);
    opacity: 0;
    transition: var(--transition-hover);
  }

  &:hover {
    &:after {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.section-button {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1rem;
}

.article-item {
  box-shadow: var(--box-shadow);
  background: var(--color-background);
  transition: var(--transition-hover);

  &:hover {
    transform: translateY(-15px);
  }
}