.layout {
  background-attachment: fixed;
}

.intro {
  --color-background: var(--color-blue-dark);
  --color-text: var(--color-white);
  --color-highlight: var(--color-green);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .intro {
    background: none;
  }
}

.rooms {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-yellow-dark);

  background-color: var(--color-background);
  /*background-image: url('/assets/graphics/bgs/noise4.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/

  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .rooms {
    background: none;
  }
}

.offers {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-purple);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
}

.activities {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-green-text);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .activities {
    background: none;
  }
}

.restaurant {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-blue-text);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .restaurant {
    background: none;
  }
}

.news {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-red);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .news {
    background: none;
  }
}

.about {
  --color-background: var(--color-white);
  --color-text: var(--color-blue-dark);
  --color-highlight: var(--color-blue-dark);

  background-color: var(--color-background);
  color: var(--color-text);

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-highlight);
  }
  .news {
    background: none;
  }
}